.list__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.list__title span {}

.list__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    font-size: 18px;
}

.list__prev,
.list__next {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 5px 15px;
    text-decoration: none;
    color: #333;
}

.list__prev:hover,
.list__next:hover {
    background-color: #eee;
}

.list__month {
    font-weight: bold;
}

.list__table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

.list__table th,
.list__table td {
    padding:12px 15px;
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}

.list__table th {
    background-color: #fafafa;
    font-weight: bold;
}

.list__table tr:hover {
    background-color: #f9f9f9;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 30px;
    font-size: 14px;
    background-color: #eee;
    border: 1px solid #ccc;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
}

.tab-button.active {
    background: #fff;
    border-bottom: 1px solid #fff;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.list__tab--active {
    border-color: #000;
}

a {
    color: #000;
    text-decoration: underline;
}
